
.demo-infinite-container {
  overflow: auto;
  padding: 8px 24px;
  height: 700px;
}

.demo-infinite-container::-webkit-scrollbar{
  display:none
}

.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
